<%= render :partial => 'forem/forums/head', :locals => { :forum => @topic.forum } %>

<% if @reply_to_post %>
  <h2 class="ui header">
    <%= t("forem.post.new") %>
  </h2>
  <%= render 'reply_to_post', :post => @reply_to_post %>
<% else %>
  <h2 class="ui header">
    <%= t("forem.post.new") %>
    <em><%= @topic.subject %></em>
  </h2>
<% end %>

<%= simple_form_for [forem, @topic.forum, @topic, @post], html: {class: 'ui form'} do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <%= f.submit t("forem.post.buttons.reply"), :class => "btn btn-primary ui green button" %>
<% end %>