<h2 class="ui header"><%= t('.title', :forum => forum) %></h2>

<h3 class="ui header"><%= t('posts_count', :count => @posts.count, :scope => 'forem.general') %></h3>

<%= form_tag forem.forum_moderate_posts_url(forum), :method => :put do %>
  <div id='posts'>
    <% @posts.limit(25).group_by(&:topic).each do |topic, posts| %>
      <h4 class="ui header breadcrumb">
        <div class="section"><%= forem_emojify(topic.forum.title) %></div>
        <div class="divider"> / </div>
        <div class="active section"><%= forem_emojify(topic.subject) %></div>
      </h4>
      <div class="ui form">
        <%= render posts, :mass_moderation => true %>
      </div>
    <% end %>
  </div>
<% end %>

<h3><%= t('topics_count', :count => @topics.count, :scope => 'forem.forum') %></h3>

<div id='topics'>
  <% @topics.limit(25).each_with_index do |topic, topic_counter| %>
    <div id='topic_<%= topic_counter + 1 %>' class='topic <%= cycle('odd', 'even', name: 'topics') -%>'>
      <div class='moderation alert'>
        <%= link_to forem_emojify(topic.subject),
                    forem.forum_topic_path(forum, topic) %>
      </div>
    </div>
  <% end %>
</div>

