<!DOCTYPE html>
<html>
  <head>
    <title>Forem</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= forem_atom_auto_discovery_link_tag %>
  </head>
  <body>
    <div class="ui basic very padded container segment">
      <% flash.each do |k,v| %>
        <div class='flash ui message <%= k.gsub(/alert/, 'error').gsub(/notice/, 'success') %>'><%= v %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
