<table id='forums' class='forums table table-striped ui celled striped table' cellspacing='0'>
  <thead class="ui inverted green table">
  <tr>
    <th class="desc-and-last-post"><%= t('forum', :scope => 'forem.general') %></th>
    <th class="topics-count center aligned"><%= t('topics', :scope => 'forem.general') %></th>
    <th class="posts-count center aligned"><%= t('posts', :scope => 'forem.general') %></th>
    <th class="views-count center aligned"><%= t('forem.forums.index.views') %></th>
  </tr>
  </thead>
  <tbody>
    <%= render category.forums %>
  </tbody>
</table>
