<div class='forum ui basic very padded container segment'>
  <%= render :partial => 'forem/forums/head', :locals => { :forum => @forum } %>

  <table class='topics table-striped table ui celled striped table' cellspacing='0'>
    <thead class="ui inverted green table">
      <tr>
        <th class="icon center aligned"></th>
        <th class="byline"><%= t('forem.topic.headings.topic') -%></th>
        <th class="latest-post text-center center aligned"><%= t('forem.topic.headings.latest') -%></th>
        <th class="posts-count text-center center aligned"><%= t('forem.topic.headings.posts') -%></th>
        <th class="views-count text-center center aligned"><%= t('forem.topic.headings.views') -%></th>
      </tr>
    </thead>
    <tbody>
      <% if @topics.empty? %>
        <tr><td colspan='5' align='center'><%= t('forem.topic.none') %></td></tr>
      <% end %>
      <%= render @topics %>
    </tbody>
  </table>
  <%= forem_pages_widget(@topics) %>
</div>