<%= simple_form_for [forem, :admin, @topic.forum, @topic], html: {class: 'ui form'} do |f| %>
  <%= f.input :subject, wrapper_html: { class: 'field' }, required: false %>
  <%= f.association :forum , :include_blank => false, :label => "Forum", wrapper_html: { class: 'field' }, required: false %>
  <div class="grouped fields">
    <div class="ui checkbox field">
      <%= f.check_box :locked %>
      <%= f.label :locked %>
    </div>
    <div class="ui checkbox field">
      <%= f.check_box :pinned %>
      <%= f.label :pinned %>
    </div>
    <div class="ui checkbox field">
      <%= f.check_box :hidden %>
      <%= f.label :hidden %>
    </div>
  </div>

  <%= f.submit :class => "btn btn-primary ui green button" %>
<% end %>
